<ion-header>
  <ion-toolbar color="info">
    <ion-title>
     Ionic Date
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedMode" scrollable>
      <ion-segment-button [value]="mode" *ngFor="let mode of modes">
      <ion-label>{{mode}}</ion-label>
      </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>



  <!--<ion-item (click)="showPicker = !showPicker"><ion-label>Date</ion-label>
    <ion-text slot="end">
      {{formattedString}}
    </ion-text>
    <ion-item>
      <ion-datetime *ngIf="showPicker" #datetime [value]="dateValue" size="cover" (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showPicker = false;">
      </ion-datetime>
    </ion-item>-->

<ion-content>
<ion-item id="open-modal" mode="md">
  <ion-icon icon="calendar-outline" slot="start" color="primary">

  </ion-icon><ion-label>Pick Date</ion-label>
  <ion-text slot="end">  {{formattedString}}</ion-text>
</ion-item>
<ion-modal trigger="open-modal">
<ng-template>
<ion-content>
  <ion-datetime  #datetime [value]="dateValue" size="cover" (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showPicker = false;">
  </ion-datetime>
</ion-content>
</ng-template>
</ion-modal>
</ion-content>
<ion-tab-bar slot="bottom">
</ion-tab-bar>






